/* Fonts */

/* Variables */

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greymid: #A9A9A9;
  --basic-greylight: #C5C5C5;
  --basic-greylighten: #F3F7F9;
  --basic-background: #F1F5F7;
  --basic-background-cart: #F1F1F1;
  --basic-backgroundlight: #F2F6F8;
  --basic-bluedarken: #293449;
  --basic-bluedark: #32425C;
  --basic-black: #000000;
  --basic-cream: #F9F5F0;
  --basic-beige: #F7F3EC;
  --white: #FFFFFF;
  --special-yellow: #FFBF47;
  --special-yellowed: #FFC047;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-blackenblue: #212A3A;
  --special-blackblue: #161D29;
  --special-blackblueactive: #1D2739;
  --special-greylight: #F4F4F4;
  --special-green-active: #518534;
  --special-red-hover: #CA2C37;
  --special-red-active: #BA2732;
  --special-white-cuarto: rgba(0, 0, 0, 0.25);
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --light-grey: #EAEAEA;
}

/* Global */

body {
  min-width: 940px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Logo */

.main-header-logo {
  background-color: var(--basic-red);
  min-width: 220px;
  height: 47px;
  line-height: 47px;
  text-align: center;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  /* outline: 5px solid rgba(90, 1, 1, 0.87);
  outline-offset: -5px; */
}

.main-header-logo:active {
  background-color: var(--error);
}

/* Header */

.main-header {
  /* width: 1200px; */
  height: 320px;
  background-color: var(--basic-greylighten);
  margin-bottom: 59px;
  /* outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px; */
}

.top-menu-wrapper {
  height: 42px;
  background-color: var(--basic-bluedarken);
}

.top-menu {
  /* display: grid;
  grid-template-columns: auto 1fr 1fr 1fr 1fr; */
  display: flex;
  justify-content: space-between;
  width: 940px;
  height: 42px;
  margin: 0 auto;
  background-color: var(--basic-bluedarken);
  /* outline: 5px solid rgba(212, 224, 104, 0.87);
  outline-offset: -5px; */
}

.top-menu a {
  font-size: 18px;
  color: var(--white);
}

.top-menu-link {
  height: 42px;
  line-height: 42px;
  text-align: center;
}

/* .top-menu-link:hover {} */

.top-menu-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--special-blackblue);
}

.input-search {
  box-sizing: border-box;
  margin-left: 42px;
  margin-right: auto;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  background-color: var(--basic-bluedarken);
  color: var(--white);
  border: none;
}

/* .input-search:hover {} */

.input-search:focus {
  background-color: var(--white);
  color: var(--basic-black);
}

.button-bookmarks {
  width: 136px;
  margin-left: auto;
  margin-right: auto;
}

.button-cart {
  width: 136px;
  margin-right: 0;
}

.button-cart-full {
  background-color: var(--basic-red);
}

.button-order {
  min-width: 150px;
  height: 42px;
  margin-right: 0;
  background-color: var(--basic-green);
}

.button-order:hover {
  background-color: var(--success);
}

.button-order:active {
  background-color: var(--basic-green);
}

.main-header-info-wrapper {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-rows: 41px 1fr; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 158px;
  margin: 0 auto;
  /* margin-top: 41px; */
}

.company-description {
  /* grid-row: 2; */
  margin: 0;
  font-style: italic;
  line-height: 23px;
  color: var(--basic-red);
}

.main-header-contacts {
  margin-left: 93px;
  margin-right: auto;
}

.main-header-contacts-phone {
  display: inline-block;
  box-sizing: border-box;
  width: 270px;
  height: 45px;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  line-height: 45px;
  color: var(--basic-red);
  border: 3px solid var(--white);
}

.main-header-contacts p {
  margin: 0;
  font-size: 14px;
  color: var(--basic-bluedark);
}

/* Login */

.login {
  /* grid-row: 2; */
  width: 281px;
  margin-top: -24px;
  display: flex;
  justify-content: space-between;
}

.logined {
  width: 299px;
  height: 70px;
  flex-direction: column;
  margin: 0;
}

.login-link, .registration-link {
  display: inline-block;
  background-color: var(--white);
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 45px;
  text-align: center;
  color: var(--basic-black);
}

.login-link {
  width: 121px;
  height: 45px;
}

.registration-link {
  width: 150px;
  height: 45px;
}

.login-link:hover, .registration-link:hover {
  color: var(--basic-red);
}

.login-link:active, .registration-link:active {
  color: var(--basic-greylight);
}

.login-user {
  height: 45px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 45px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--white);
}

.login-user:hover {
  color: var(--basic-black);
}

.login-user:active {
  color: var(--basic-greylight);
}

.login-user-menu-item:first-child {
  list-style: none;
  margin-right: 20px;
}

.login-user-menu {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.login-user-menu-item a {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-bluedark);
}

.login-user-menu-item a:hover {
  color: var(--basic-red);
}

.login-user-menu-item a:active {
  color: var(--basic-greylight);
}

/* Main navigation */

.main-navigation {
  width: 940px;
  height: 60px;
  margin: 0 auto;
  /* margin-top: -60px; */
  background-color: var(--basic-bluedark);
}

.site-navigation {
  /* display: grid;
  grid-template-columns: repeat(7, auto); */
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.site-navigation li {
  height: 60px;
  line-height: 60px;
  text-align: center;
  flex-grow: 1;
}

.site-navigation a {
  display: inline-block;
  height: 60px;
  font-size: 18px;
  color: var(--white);
}

.site-navigation li:hover {
  background-color: var(--basic-bluedarken);
}

.site-navigation li:active {
  background-color: var(--special-blackblueactive);
}

.site-navigation a:active {
  opacity: 0.5;
}

/* Features */

/* .container {
  width: 1200px;
  margin: 0 auto;
} */

.features {
  width: 940px;
  height: 409px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "cat cat cat" "sld sld adv" "sld sld adv";
  gap: 20px;
  /* position: relative; */
  margin: 0 auto 59px;
}

.features-list-categories {
  width: 940px;
  height: 123px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-area: cat;
  /* display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap; */
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.features-list-advantages {
  width: 300px;
  height: 266px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  grid-area: adv;
  /* display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap; */
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.feature-item {
  width: 300px;
  height: 123px;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.feature-item p {
  /* position: absolute; */
  margin: 0;
  margin-left: 23px;
  margin-top: 20px;
  /* top: 20px;
  left: 23px; */
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: var(--white);
}

.feature-item a {
  /* position: absolute;
  top: 64px;
  left: 23px; */
  display: inline-block;
  width: 135px;
  height: 38px;
  margin-left: 23px;
  margin-bottom: 21px;
  margin-top: auto;
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: normal;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.feature-item a:hover {
  background-color: var(--basic-greylight);
}

.feature-item a:active {
  background-color: var(--basic-greymid);
}

.materials {
  /* grid-area: materials; */
  background-color: var(--special-yellow);
}

.tool {
  /* grid-area: tool; */
  background-color: var(--special-blue);
}

.technics {
  /* grid-area: technics; */
  background-color: var(--special-lilac);
}

.sale {
  /* grid-area: sale; */
  /* margin-left: 640px; */
  background-color: var(--special-greenlight);
}

.delivery {
  /* grid-area: delivery; */
  /* margin-left: 640px; */
  background-color: var(--special-yellowed);
}

/* TODO: Разобраться, как сделать текст внутри ссылки непрозрачным, не используя rgba */

/* Slider */

.slider {
  /* position: absolute; */
  /* top: 143px; */
  display: grid;
  grid-area: sld;
  /* display: grid; */
  width: 620px;
  height: 266px;
}

.slider-item {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 620px;
  height: 266px;
  /* display: grid; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slider-item-perforators {
  background-image: url(../img/Slider-perforators.jpg);
  z-index: 1;
}

/* ВРЕМЕННО */

.slider-item-perforators:active {
  z-index: 0;
}

.slider-item-drills {
  background-image: url(../img/Slider-drills.jpg);
  z-index: 0;
}

.slider-caption {
  /* position: absolute;
  top: 23px;
  left: 24px; */
  margin: 0;
  margin-left: 24px;
  margin-top: 23px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--white);
}

.slider-tagline {
  /* position: absolute;
  top: 64px;
  left: 24px; */
  margin: 0;
  margin-left: 24px;
  margin-bottom: auto;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-transform: initial;
  color: var(--white);
}

.button-open-catalog {
  /* position: absolute;
  top: 201px;
  left: 24px; */
  margin-left: 24px;
  margin-bottom: 27px;
  display: block;
  width: 192px;
  height: 38px;
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 38px;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
}

.button-open-catalog:hover {
  background-color: var(--special-red-hover);
}

.button-open-catalog:active {
  background-color: var(--special-red-active);
}

/* Popular products */

.wrapper-cream-background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  margin-bottom: 20px;
  background-color: var(--basic-cream);
}

.popular-products {
  width: 940px;
  margin: 0 auto 70px;
}

.popular-products h2 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  margin-left: 28px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-bluedark);
}

.button {
  background-color: var(--basic-red);
  color: var(--white);
  text-transform: uppercase;
}

.button-all-goods {
  width: 192px;
  height: 38px;
  margin-right: 14px;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
}

/* Popular manufacturers */

.popular-manufacturers {
  width: 940px;
  margin: 0 auto 70px;
}

.popular-manufacturers h2 {
  margin-left: 28px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-bluedark);
}

.button-all-manufacturers {
  width: 192px;
  height: 38px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  margin-right: 19px;
}

.popular-manufacturers-list {
  padding-left: 0;
  height: 310px;
  /* display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  list-style: none;
  margin: 0;
}

/* TODO: Разобраться, что за фильтр применяется при нажатии (прозрачность?)*/

.popular-manufacturers-item {
  width: 220px;
  height: 145px;
  background: var(--white);
  border: 1px solid var(--light-grey);
  box-sizing: border-box;
  text-align: center;
}

.popular-manufacturers-item a {
  display: inline-block;
  line-height: 145px;
  height: 100%;
  width: 100%;
}

.popular-manufacturers-item img {
  vertical-align: middle;
}

.popular-manufacturers-item:hover {
  /* TODO: Добавить тень при наведении */
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.popular-manufacturers-item:active {
  opacity: 0.5;
}

/* Services */

.services {
  width: 1200px;
  background-color: var(--basic-background);
}

.services-wrapper {
  position: relative;
  width: 940px;
  height: 522px;
  margin: 0 auto 70px;
}

.services h2 {
  position: absolute;
  top: 64px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-text {
  position: absolute;
  top: 119px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.services-list-links {
  position: absolute;
  top: 238px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-list-item {
  width: 240px;
  height: 61px;
  background-color: var(--basic-bluedark);
}

.services-list-item a {
  display: inline-block;
  width: 218px;
  padding-left: 22px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 61px;
  color: var(--white);
}

.services-list-item a:hover {
  background-color: var(--basic-bluedarken);
}

.services-list-item a:active {
  background-color: var(--white);
  color: var(--basic-bluedark);
}

.service-item {
  position: absolute;
  width: 619px;
  height: 283px;
  left: 320px;
  top: 235px;
  background-color: var(--basic-background);
}

.service-item h3 {
  margin: 0;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-bluedark);
}

.service-item p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.service-item-credit .button {
  display: inline-block;
  width: 195px;
  height: 38px;
  text-align: center;
  line-height: 38px;
}

/* Contacts */

/* .contacts {
} */

.contacts-wrapper {
  /* display: grid;
  grid-template-columns: 1fr 301px; */
  /* gap: 161px; */
  height: 356px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 70px;
  width: 940px;
  height: 356px;
}

.contacts-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts-about h3 {
  margin: 0;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts-about p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.transport-item {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.contacts-about a {
  width: 220px;
  height: 38px;
  text-align: center;
  line-height: 38px;
}

.contacts-map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts-map h3 {
  margin: 0;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts-map p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.contacts-map .button {
  height: 38px;
  text-align: center;
  line-height: 38px;
}

/* Footer */

.main-footer {
  background-color: var(--basic-bluedark);
  /* outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px; */
}

.main-footer-wrapper {
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  height: 193px;
  margin: 0 auto;
}

.main-footer-logo {
  display: inline-block;
  width: 220px;
  height: 68px;
  line-height: 68px;
  text-align: center;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24)
}

.footer-navigation a {
  color: var(--basic-background);
}

.main-footer-contacts {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-greylighten);
}

.main-footer-contacts-phone {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-greylighten);
}

.main-footer-menu {
  /* position: absolute;
  left: 416px;
  top: 95px; */
}

.main-footer-menu-list {
  width: 525px;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr auto; */
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.main-footer-menu-list a {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--special-yellowlight);
}

.main-footer-bottom {
  background-color: var(--basic-bluedarken);
  height: 107px;
}

.main-footer-bottom-wrapper {
  width: 940px;
  height: 107px;
  /* position: absolute;
  left: 130px;
  top: 35px; */
  margin: 0 auto;
  /* display: grid;
  grid-template-columns: 388px 252px 186px 111px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer-bottom-copyright {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  margin: 0;
}

.main-footer-bottom-socials {
  margin-left: 161px;
  margin-right: auto;
}

.main-footer-bottom-socials a {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: var(--special-blackenblue);
  border-radius: 50%;
  line-height: 44px;
  text-align: center;
}

.main-footer-bottom-socials a:hover {
  background-color: var(--basic-red);
}

.main-footer-bottom-socials svg {
  vertical-align: middle;
}

.main-footer-bottom-feedback, .main-footer-bottom-developed {
  margin: 0;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.main-footer-bottom-developed {
  margin-left: 51px;
}

.main-footer-bottom-feedback a, .main-footer-bottom-developed a {
  color: var(--special-yellowlight);
}

.feedback-form {
  width: 640px;
  height: 430px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15)); */
}

.feedback-form label {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.feedback-form-field {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-greymid);
  resize: none;
}

.main-footer-navigation {
  align-self: center;
}

.footer-site-navigation {
  /* position: absolute;
  top: 37px;
  left: 393px; */
  width: 549px;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr auto; */
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.footer-site-navigation a {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
}

.footer-site-navigation a:hover, .main-footer-menu-list a:hover, .main-footer-bottom-developed a:hover, .main-footer-bottom-feedback a:hover {
  text-decoration: underline;
}

.main-footer-bottom-developed a:active, .main-footer-bottom-feedback a:active {
  text-decoration: none;
  color: var(--basic-red);
}

.footer-site-navigation a:active, .main-footer-menu-list a:active {
  text-decoration: none;
  opacity: 0.5;
}

/* Catalog */

.catalog-wrapper {
  width: 940px;
  height: 1289px;
  margin: 0 auto;
  margin-top: -38px;
  display: grid;
  grid-template-rows: 18px 89px 38px 318px 318px 318px 38px;
  grid-template-columns: repeat(4, 220px);
  row-gap: 18px;
  column-gap: 20px;
}

/* Breadcrumbs */

.heading {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  background-color: var(--basic-backgroundlight);
}

.heading h1 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 89px;
  text-transform: uppercase;
  color: var(--basic-bluedark);
  margin: 0;
  margin-left: 29px;
}

.breadcrumbs {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter {
  grid-column: 1 / 2;
  grid-row: 3 / -3;
  background-color: var(--basic-beige);
}

.filter h2 {
  margin: 10px 18px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sort {
  grid-column: 2 / -1;
  grid-row: 3 / 4;
  background-color: var(--basic-beige);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sort h2 {
  display: inline-block;
  margin: 0;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sort-button {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
  background-color: var(--basic-beige);
}

.sort-button:hover {
  opacity: 1;
}

.sort-button:active {
  color: var(--basic-red);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.perforators {
  grid-column: 2 / -1;
  grid-row: 4 / -2;
}

.perforators-list {
  /* display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr); */
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.perforators-list-all {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 0;
  margin: 0px;
}

.perforators-list-item, .popular-products-item {
  box-sizing: border-box;
  position: relative;
}

.perforators-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  height: 318px;
  background: var(--white);
  border: 1px solid var(--light-grey);
  box-sizing: border-box;
}

.perforators-list-item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.perforators-list-item img {
  margin-top: auto;
  margin-bottom: auto;
}

.perforators-list-item h3 {
  margin: 0;
  margin-bottom: 6px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-black);
}

.old-price {
  height: 17.33px;
  margin: 0;
  margin-bottom: 13px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--basic-greymid);
}

.new-price {
  width: 141px;
  height: 38px;
  margin: 0;
  margin-bottom: 21px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
}

.popup-buttons-wrapper {
  position: absolute;
  top: 0px;
  /* display: flex;
  flex-direction: column; */
  width: 218px;
  height: 316px;
  /* border: 1px solid var(--light-grey); */
}

.popup-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 162px;
  background-color: var(--white);
}

.popup-button-buy {
  width: 138px;
  height: 38px;
  margin-bottom: 10px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  color: #FFFFFF;
  background: var(--basic-green);
}

.popup-button-buy:hover {
  background-color: var(--success);
}

.popup-button-buy:active {
  background-color: var(--special-green-active);
}

.popup-button-bookmarks {
  width: 135px;
  height: 38px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid #63A63E;
  box-sizing: border-box;
  border-radius: 2px;
  color: var(--basic-bluedark);
  background: var(--white);
}

.popup-button-bookmarks:hover {
  border: 3px solid #32425C;
}

.popup-button-bookmarks:active {
  opacity: 0.5;
}

.hidden {
  opacity: 0;
}

.hidden:hover {
  opacity: 1;
}

/* Pagination */

.pagination-list {
  /* display: grid;
  grid-template-columns: 38px 38px 38px 140px;
  grid-template-rows: 38px;
  gap: 10px; */
  width: 284px;
  display: flex;
  justify-content: space-between;
  grid-column: 2 / 4;
  grid-row: -2 / -1;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  width: 38px;
  background-color: var(--white);
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  /* padding-left: 15px;
  padding-right: 15px; */
}

.pagination-item:last-child {
  width: 140px;
}

.pagination-item-current {
  background-color: var(--basic-red);
}

.pagination-item:hover {
  border: 1px solid var(--basic-greylight);
}

.pagination-item:active {
  border: 1px solid var(--basic-red);

}

.pagination-item a {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 38px;
  color: var(--basic-black);
  background-color: var(--white);
}

.pagination-item-current a {
  color: var(--white);
  background-color: var(--basic-red);
}

.about-perforators {
  background-color: var(--basic-background);
}

.about-perforators-wrapper {
  box-sizing: border-box;
  width: 940px;
  height: 261px;
  margin: 0 auto;
  padding-top: 64px;
}

.perforators-caption {
  margin: 0 0 25px 0;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.perforators-text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.cart-popup {
  background-color: var(--white);
}

.cart-popup p {
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
}

.cart-popup-buttons {
  background-color: var(--basic-background-cart);
}

.cart-popup-order {
  background-color: var(--basic-red);
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
}

.button-close-cart {
  background-color: var(--white);
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}
