/* Fonts */

/* Variables */

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greymid: #A9A9A9;
  --basic-greylight: #C5C5C5;
  --basic-greylighten: #F3F7F9;
  --basic-background: #F1F5F7;
  --basic-bluedarken: #293449;
  --basic-bluedark: #32425C;
  --basic-black: #000000;
  --basic-cream: #F9F5F0;
  --white: #FFFFFF;
  --special-yellow: #FFBF47;
  --special-yellowed: #FFC047;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-blackenblue: #212A3A;
  --special-blackblue: #161D29;
  --special-blackblueactive: #1D2739;
  --special-greylight: #F4F4F4;
  --special-red-hover: #CA2C37;
  --special-red-active: #BA2732;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --light-grey: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
}

/* Global */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Logo */

.main-header-logo {
  font-size: 16px;
  color: var(--white);
  background-color: var(--basic-red);
}

.main-header-logo:active {
  background-color: var(--error);
}

/* Header */

.main-header {
  min-width: 1200px;
  background-color: rgba(0, 0, 0, 0.0001);
}

.top-menu {
  background-color: var(--basic-bluedarken);
}

.top-menu a {
  font-size: 18px;
  color: var(--white);
}

.top-menu-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--special-blackblue);
}

.button-order {
  background-color: var(--basic-green);
}

.button-order:hover {
  background-color: var(--success);
}

.button-order:active {
  background-color: var(--basic-green);
}

.company-description {
  font-style: italic;
  line-height: 23px;
  color: var(--basic-red);
}

.main-header-contacts-phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.main-header-contacts p {
  font-size: 14px;
  color: var(--basic-bluedark);
}

/* Login */

.login a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.login a:hover {
  color: var(--basic-red);
}

.login a:active {
  color: var(--basic-greylight);
}

/* Main navigation */

.main-navigation {
  background-color: var(--basic-bluedark);
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  font-size: 18px;
  color: var(--white);
}

.site-navigation li:hover {
  background-color: var(--basic-bluedarken);
}

.site-navigation li:active {
  background-color: var(--special-blackblueactive);
}

.site-navigation a:active {
  opacity: 0.5;
}

/* Features */

.features-list {
  list-style: none;
}

.feature-item {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: var(--white);
}

.feature-item a {
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
}

.feature-item a:hover {
  background-color: var(--basic-greylight);
}

.feature-item a:active {
  background-color: var(--basic-greymid);
}

.materials {
  background-color: var(--special-yellow);
}

.tool {
  background-color: var(--special-blue);
}

.technics {
  background-color: var(--special-lilac);
}

.sale {
  background-color: var(--special-greenlight);
}

.delivery {
  background-color: var(--special-yellowed);
}

/* Разобраться, как сделать текст внутри ссылки непрозрачным, не используя rgba */

/* Slider */

.slider-caption {
  background-color: #dad6d6;
  /* Временный фон, удалить */
}

.slider-caption {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--white);
}

.slider-caption span {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-transform: initial;
}

.button-open-catalog {
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
}

.button-open-catalog:hover {
  background-color: var(--special-red-hover);
}

.button-open-catalog:active {
  background-color: var(--special-red-active);
}

/* Popular products */

.popular-products h2 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-bluedark);
}

.popular-products-item {
  background-color: var(--white);
}

/*.popular-products-item:hover {
  Добавить тень и показать кнопки при наведении
}*/

.button {
  background-color: var(--basic-red);
  color: var(--white);
  text-transform: uppercase;
}

.button-all-goods {
  font-size: 14px;
  line-height: 18px;
}

.popular-products-list {
  list-style: none;
}

/*Разобраться, как сделать, чтобы появлялись кнопки при наведении*/

.popular-products-item-caption {
  font-family: 'PT Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.popular-products-item-old-price {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--basic-greymid);
}

.button-price {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

/* Popular manufacturers */

.popular-manufacturers h2 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-bluedark);
}

.button-all-manufacturers {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.popular-manufacturers-list {
  list-style: none;
}

/*Разобраться, что за фильтр применяется при нажатии (прозрачность?)*/

.popular-manufacturers-item {
  background-color: var(--white);
}

/*.popular-manufacturers-item:hover {
  Добавить тень при наведении
}*/

.popular-manufacturers-item:active {
  background-color: rgba(0, 0, 0, 0.0001);
  color: rgba(0, 0, 0, 0.0001);
}

/* Services */

.services {
  background-color: var(--basic-background);
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.services-list-links {
  list-style: none;
}

/*.services-list-item {}*/

.services-list-item a {
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--basic-bluedark);
  color: var(--white);
}

.services-list-item a:hover {
  background-color: var(--basic-bluedarken);
}

.services-list-item a:active {
  background-color: var(--white);
  color: var(--basic-bluedark);
}

.service-item h3 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-bluedark);
}

.service-item p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

/* Contacts */

.contacts-about h3 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts-about p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.transport-item {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.contacts-map h3 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts-map p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

/* Footer */

.main-footer {
  background-color: var(--basic-bluedark);
}

.main-footer-logo {
  background-color: var(--basic-red);
  color: var(--white);
}

.footer-navigation a {
  color: var(--basic-background);
}

.main-footer-contacts {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-greylighten);
}

.main-footer-contacts-phone {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-greylighten);
}

.main-footer-menu-list {
  list-style: none;
}

.main-footer-menu-list a {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--special-yellowlight);
}

.main-footer-bottom {
  background-color: var(--basic-bluedarken);
}

.main-footer-bottom-copyright {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.main-footer-bottom-socials a {
  background-color: var(--special-blackenblue);
}

.main-footer-bottom-feedback, .main-footer-bottom-developed {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.main-footer-bottom-feedback a, .main-footer-bottom-developed a {
  color: var(--special-yellowlight);
}

/*.feedback-form {}*/

.feedback-form label {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.feedback-form-field {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-greymid);
  resize: none;
}

.footer-site-navigation {
  list-style: none;
}

.footer-site-navigation a {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
}

.footer-site-navigation a:hover, .main-footer-menu-list a:hover {
  text-decoration: underline;
}
